<style>

body {
  counter-reset: question_num task_num;                     /* Set a counter named 'section', and it`s initial value is 0. */
}

/* Question Box */
.Q {
    background-color:#ff9900;
    color:black;
    font-size:17px;
    width:100%;
    border:1px solid #666666;
    padding:5px;
}

.Q::before {
    counter-increment: question_num;
    content: "QUESTION " counter(question_num) '\A';
    white-space: pre;
}


/* Question Box */
.T {
    background-color:#00F7FF;
    color:black;
    font-size:17px;
    font-weight: bold;
    width:10%;
    padding:5px;
}


.T::before {
    counter-increment: task_num;
    content: "Task " counter(task_num) ': ';
}


.qhelp {
    color:#666666;
    font-size:15px
}

.qhelp::after {
    content: "Answer this question in the corresponding Brightspace LAB quiz"
}



/* code */
.rendered_html pre, .rendered_html code {
    font-family: "SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Courier,monospace;
    padding: 1px 3px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background: #e6e6e6;
    font-size: 12px;
    line-height: 1.4;
    color: #0052CC;
}


/* Console */
.console {
    background-color:#d2d2d2;
    color:#FF2525;
    font-size:12px;
    line-height: 1.4;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}
.console::before {
    content: "Console";
}

/* Editor */
.editor {
    background-color:#d2d2d2;
    color:#00b300;
    font-size: 12px;
    line-height: 1.4;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}
.editor::before {
    content: "Editor";
}



/* Copy to CONSOLE */
.c2c {
    background-color:#d2d2d2;
    color:#ff8080;
    font-size:13px;
    border:1px solid #bfbfbf;
    padding:1px 3px;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
}

.c2c::before {
    content: "Copy-paste into Spyder's Console";
}

/* Type in CONSOLE */
.t2c {
    background-color:#d2d2d2;
    color:#ff8080;
    font-size:13px;
    border:1px solid #bfbfbf;
    padding:1px 3px;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
}

.t2c::before {
    content: "Type into Spyder's Console";
}


/* SOURCE */
.source {
    background-color:#d2d2d2;
    color:#009EBF;
    font-size: 12px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}
.source::before {
    content: "\25B6" "Source";
}


/* RUN */
.run {
    background-color:#d2d2d2;
    color:#00b300;
    font-size: 12px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}
.run::before {
    content: "\25B6" "RUN";
}

/* RUN */
.runcell {
    background-color:#d2d2d2;
    color:#00b300;
    font-size: 12px;
    line-height: 1.4;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}
.runcell::before {
    content: "RUN current cell";
}

/* FILE */
.file {
    color:#b36b00;
    font-size: 12px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}

/* important */
.important {
    background-color:#ff4d4d;
    color:black;
    font-size: 13px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
    margin-top:5px;
}
.important::before {
    content: "Important:";
}

/* important */
.note {
    background-color:#ffff80;
    color:black;
    font-size: 13px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
    margin-top:5px;
}
.note::before {
    content: "Note:";
}


/* TODO */
.TODO {
    background-color:red;
    color:black;
    font-size:18px;
    width:100%;
    padding:10px;
}
.TODO::before {
    content: "TO-DO:";
}


.nomenclature {
    font-family: "SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Courier,monospace;
    background-color:#ffff80;
    color:black;
    font-size: 15px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-left:3px;
    padding-right:3px;
    display: inline-block;
    margin-top:3px;
}



.big_title {
    background-color:#cccccc;
    color:black;
    font-size: 35px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #8c8c8c;
    padding:20px;
    margin-top:5px;
    width:100%;
}


.codeX {
    font-family: "SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Courier,monospace;
    background-color:#e6e6e6;
    color:#0066ff;
    font-size: 13px;
    line-height: 1.4;
    padding:2px;
    display: inline-block;
}



/* checkpoint */
.checkpoint {
    background-color:yellow;
    color:blue;
    font-size: 15px;
    line-height: 1.4;
    font-weight: bold;
    border:1px solid #bfbfbf;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
    margin-top:5px;
}

.codeerror {
    background-color:#ffb3b3;
    color:red;
    font-size: 13px;
    line-height: 1.4;
    border:1px solid #ffb3b3;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:7px;
    padding-right:7px;
    border-radius: 3px;
    margin:20px;
    margin-left:25px;
}

.lineerror {
    background-color:#ffb3b3;
    color:red;
    font-size: 13px;
    line-height: 1.4;
    border:1px solid #ffb3b3;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
    margin-top:5px;
}


/* terminal */
.terminal {
    background-color:black;
    color:white;
    font-size: 12px;
    line-height: 1.4;
    border:1px solid black;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:3px;
    padding-right:3px;
    border-radius: 3px;
    display: inline-block;
}
.terminal::before {
    content: "Terminal (i.e. Anaconda Promt)";
}
.terminalBlock {
    font-family: "SF Mono","Segoe UI Mono","Roboto Mono","Ubuntu Mono",Menlo,Courier,monospace;
    background-color:black;
    color:white;
    font-size: 14px;
    line-height: 1.4;
    border:1px solid black;
    padding-top:7px;
    padding-bottom:7px;
    padding-left:7px;
    padding-right:7px;
    border-radius: 3px;
    margin:20px;
    margin-left:25px;
}

.fakeheader {
    font-size: 20px;
    font-weight:bold;
    background-color:#ccebff;
    border:1px solid #b3e0ff;
    padding:2px;
    margin-top:30px;
    margin-bottom:15px;
}


/* Headers */
h1 {
    background-color:#99d6ff;
    border:1px solid #007acc;
    padding:8px;
}

h2 {
    background-color:#ccebff;
    border:1px solid #b3e0ff;
    padding:2px;
}

h3 {
    background-color:#e6f5ff;
    padding:1px;
}

</style>